@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  user-select: none;
}

.header {
  padding: 14px 0;
}

.section {
  padding: 50px 0px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.header-logout {
  border: none;
  cursor: pointer;
  background-color: unset;
  float: right;
  display: none;
}

.header-logout:hover {
  text-decoration: underline;
}

#app {
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.app-title {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: #af2f2f26;
}

.app-error {
  position: absolute;
  padding: 10px 15px;
  transform: translateY(-100%);
  color: #af5b5e;
}

#app-checkall {
  position: absolute;
  cursor: default;
  font-size: 40px;
  top: 10px;
  left: 11px;
  color: #6e6e6e;
  user-select: none;
}

#app-checkall.checked {
  color: #4d4d4d;
}

.app-new-todo {
  width: 100%;
  padding: 16px 16px 16px 60px;
  border: none;
  font-size: 24px;
}

.app-todos {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}

.app-todo {
  padding: 10px 60px;
  border-bottom: 1px solid #ededed;
  font-size: 18px;
  position: relative;
  word-break: break-all;
  cursor: default;
}

.app-todo:hover .app-todo-remove {
  display: block;
}

.app-todo.completed {
  text-decoration: line-through;
  color: #d9d9d9;
}

.app-todo-edit {
  width: 100%;
}

.app-todo-checkbox {
  position: absolute;
  top: 8px;
  left: 19px;
  cursor: pointer;
}

.app-todo-remove {
  display: none;
  position: absolute;
  border: none;
  color: #cc9a9a;
  background: none;
  right: 19px;
  padding: 15px;
  top: -3px;
  transition: color 0.2s ease-out;
}

.app-todo-remove:hover {
  color: #af5b5e;
}

.app-controls {
  color: #777;
  padding: 10px 15px;
  user-select: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-filters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -6px;
}

.app-filter-btn {
  margin-right: 8px;
}

.app-filter-btn.active {
  font-weight: bold;
}

.app-filter-btn:last-child {
  margin-right: 0px
}

.app-clear-btn {
  border: none;
  cursor: pointer;
  background-color: unset;
}

.app-clear-btn:hover {
  text-decoration: underline;
}