.todos {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todos-error {
  padding: 10px 15px;
  color: #af5b5e;
  display: flex;
  align-items: center;
  height: 43px;
}

.todos-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.todos-checkall {
  &.checked {
    color: #4d4d4d;
  }

  cursor: default;
  font-size: 40px;
  color: #6e6e6e;
  user-select: none;
}

.todos-new-todo {
  width: 100%;
  border: none;
  font-size: 24px;
  background-color: unset;
  margin: 0px 10px;
  overflow: auto;
}

.todos-list {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}

.todos-controls {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}

.todos-counter {
  color: #4d4d4d;
}

.todos-clear-btn {
  &:hover {
    text-decoration: underline;
  }

  border: none;
  cursor: pointer;
  background-color: unset;
}

.todos-loader {
  background-color: #fff;
  padding: 10px 0px;
}

.todos-loader-btn {
  &:hover {
    text-decoration: underline;
  }

  margin: 0 auto;
  display: block;
  width: 100%;
  border: none;
  background-color: unset;
  color: #6e6e6e;
  cursor: pointer;
}
